.course-calender-item{
  text-align:center;
  font-weight: bold;
  font-size: 25px;
  font-family: "American Typewriter";
}

h2 {
  font-family: "American Typewriter";
}
h2{
  margin-top: 40px;
  color: transparent;
  background-color : black;
  text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
  -webkit-background-clip : text;
}
