.tblHead{
  font-size: small;
  font-family: Arial;
  color: maroon;
}
.tbl{
  margin: 5px auto;
  width: 70%;
  background-color: #cccccc;
}
.detail{
  margin: 0 auto;
  padding: 2px;
  width: 70%;
  background-color: aliceblue;
}
